*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: #eec170;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 17vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.algoritmo {
    display: grid;
    background-color: #f58549;
    padding: 2rem;
    color: white;
    border-radius: 12px;
    width: 55rem;
    grid-template-columns: 50% 30%;
}

.informacion p {
    font-size: 25px;
}

.muestra img {
    width: 400px;
    border-radius: 1rem;
}