*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: #eec170;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 17vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.algoritmo {
    display: grid;
    background-color: #f58549;
    padding: 2rem;
    color: white;
    border-radius: 12px;
    width: 55rem;
    grid-template-columns: 50% 30%;
}

.informacion p {
    font-size: 25px;
}

.muestra img {
    width: 400px;
    border-radius: 1rem;
}

.datos {
    margin-left: 4rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 43% 40%;
}

.entrada h2 {
    text-align: center;
}

.entrada {
    text-align: justify;
}

.salida h2 {
    text-align: center;
}

.salida {
    text-align: justify;
}

.quees {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 1rem;
}

.description {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-align: justify;
    align-items: center;
}

.description h2 {
    text-align: center;
}

.es5 {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: justify;
}